
  <h1>Silly Question!</h1>
  <div class="container">

<div class="block">
  <p><%=@message%></p>
  <p>-You</p>
</div>
<br>
<div class="block">
  <p><%=@answer%></p>
  <p>-Your coach</p>
</div>
</div>
<div class="container">
<%= link_to "Ask a new question", "/ask" %>
</div>
